doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Bistro Bliss | Menu
        link(rel="shortcut icon", href="/images/fav.jpg", type="image/x-icon")
        link(rel="stylesheet", href="/css/style.css")
        link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css')

    body 
        include _header
        .menu-head
            h1 Our Menu
            p We consider all the drivers of change gives you the components <br> you need to change to create a truly happens.
        .button-menu 
            button.redbtn Our Menu     
        
        .menu-card-box
            each menu in menus
                .menu-card
                    .menu-card-image
                        img(src=`${menu.image}`, alt=`${menu.name}`)
                    .menu-card-content
                        h3= menu.price
                        h4= menu.name
                        p= menu.description
                    a.product-detail__add-to-cart(onclick=`getMenuById('${menu.id}')`) View Details
        .app-showcase
            .showcase-content
                h2 You can order through apps
                p Lorem ipsum dolor sit amet consectetur adipiscing elit enim bibendum sed et aliquet aliquet risus tempor semper.
            .showcase-apps
                .app-wrapper
                    img(src="/images/ubereat.png", alt="Uber Eats")
                .app-wrapper
                    img(src="/images/grubhub.png", alt="GrubHub")
                .app-wrapper
                    img(src="/images/postmates-2.png", alt="Postmates")
                .app-wrapper
                    img(src="/images/doordash.png", alt="DoorDash")
                .app-wrapper
                    img(src="/images/foodpanda.png", alt="FoodPanda")
                .app-wrapper
                    img(src="/images/delivero.png", alt="Deliveroo")
                .app-wrapper
                    img(src="/images/instacart.png", alt="Instacart")
                .app-wrapper
                    img(src="/images/justeat.png", alt="Just Eat")
                .app-wrapper
                    img(src="/images/didifood.png", alt="Didi Food")




        footer.footer 
            Copyright © 2023 Hashtag Developer. All Rights Reserved.
        script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
        script(src='https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js')
        script(src="/js/script.js")
